* {
    touch-action: manipulation;
}
nav {
    max-width: 240px;
}
nav .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row button {
    height: 70px;
    width: 80px;
    background-color: rgba(43, 45, 49, 0.357);
    border: 1px solid #333333;
    cursor: pointer;
}

.row button:hover, .row button:focus {
    background-color: rgba(43, 45, 49, 0.25);
}

.no-border {
    border: none !important;
}